<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="tenantID" value=""/>
    <add key="applicationId" value=""/>
    <add key="authenticationKey" value=""/>
    <add key="subscriptionId" value=""/>
    <add key="resourceGroup" value="default"/>
    <add key="region" value="Southeast Asia"/>
    <add key="dataFactoryName" value=""/>
  </appSettings>
</configuration>